<?xml version="1.0"?>
    <config>
        <modules>
           <Decta_Decta>
              <version>1.0.4</version>
           </Decta_Decta>
        </modules>

        <global>
        <blocks>
            <Decta>
                <class>Decta_Decta_Block</class>
            </Decta>
        </blocks>
            <models>
                <Decta>
                    <class>Decta_Decta_Model</class>
                </Decta>
            </models>
            <resources>
                <Decta_setup>
                    <setup>
                        <module>Decta_Decta</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </Decta_setup>
                <Decta_write>
                    <connection>
                      <use>core_write</use>
                    </connection>
                </Decta_write>
                <Decta_read>
                   <connection>
                    <use>core_read</use>
                  </connection>
                </Decta_read>
            </resources>
        </global>

        <frontend>
            <secure_url>
                <Decta_redirect>/Decta/redirect/</Decta_redirect>
                <Decta_response>/Decta/response/</Decta_response>
            </secure_url>

            <routers>
                <Decta>
                    <use>standard</use>
                    <args>
                        <module>Decta_Decta</module>
                        <frontName>Decta</frontName>
                    </args>
                </Decta>
            </routers>
        </frontend>
        <default>
            <payment>
                <Decta>
                    <active>0</active>
                    <model>Decta/Decta</model>
                    <order_status>pending</order_status>
                    <after_pay_status>complete</after_pay_status>
                    <title>Visa/MasterCard</title>
                    <currency>EUR</currency>
                    <payment_action>generateForm</payment_action>
                    <allowspecific>0</allowspecific>
                </Decta>
             </payment>
        </default>
        <frontend>
            <translate>
                <modules>
                    <Decta_Decta>
                        <files>
                            <additional_file>Decta_Decta.csv</additional_file>
                        </files>
                    </Decta_Decta>
                </modules>
            </translate>
        </frontend>
        <adminhtml>
            <translate>
                <modules>
                    <Decta_Decta>
                        <files>
                            <additional_file>Decta_Decta.csv</additional_file>
                        </files>
                    </Decta_Decta>
                </modules>
            </translate>
        </adminhtml>
    </config>
